<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<div class="container mt-2">
        <div class="card shadow">
            <div class="card-header" >
                <div class="d-flex justify-content-between">
                    <h2>Menu User</h2>
                    <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#tambahModal">Tambah Data</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>NIP</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>Cover Area</th>
                            <th>Phone</th>
                            <th>MSIDN</th>
                            <th>User Mobile</th>
                            <th>User CMS </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of users" (click)="onAll()">
                            <td>{{u.uniqId}}</td>
                            <td>{{u.collectName}}</td>
                            <td>{{u.type}}</td>
                            <td>{{u.title}}</td>
                            <td>{{u.coveran}}</td>
                            <td>{{u. phoneNumber}}</td>
                            <td>{{u.msisdn}}</td>
                            <td align="center">
                                <div *ngIf="u.mobile == true">
                                    <button class="btn btn-success">Enable</button>
                                </div>
                                <div *ngIf="u.mobile == false">
                                    <button class="btn btn-danger">Disable</button>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="u.cms == true">
                                    <button class="btn btn-success">Enable</button>
                                </div>
                                <div *ngIf="u.cms == false">
                                    <button class="btn btn-danger">Disable</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>

</div>

<!-- Modal -->
<div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <div class="mb-3">
                <label class="form-label">User ID  </label>
                <input type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Name </label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Type </label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Password </label>
                <input type="password" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Re-type Password </label>
                <input type="password" class="form-control">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">User Mobile</label>
              </div>

              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck2">User CMS</label>
              </div>
            
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><i class="bi bi-save"></i> Add</button>
        </div>
      </div>
    </div>
  </div>
  
