<div class="container mt-5">
    
        <div class="card shadow">
            <div class="card-header">
                <h2 class="card-title">Menu User</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>Collector</th>
                            <th>Title</th>
                            <th>Criteria</th>
                            <th>Cover Area</th>
                            <th>Supervisor</th>
                            <th>Head</th>
                            <th>Cdummy</th>
                            <th>dummy</th>
                            <th>dummy</th>
                            <th>dummy</th>
                            <th>dummy</th>
                            <th>dummy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>adssda</td>
                            <td>asdsda</td>
                            <td>xzczfds</td>
                            <td>dsfdfdsfsd</td>
                            <td>sdfefds</td>
                            <td>ewrewfdsf</td>
                            <td>sdfewf</td>
                            <td>fsdfew</td>
                            <td>sdfsfe</td>
                            <td>vbcvb</td>
                            <td>sadsad</td>
                            <td>asdsad</td>
                            <td>sadsad</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mt-3">
                <div class="card shadow">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div class="card shadow">
                    <div class="card-body"></div>
                </div>
            </div>
        </div>

</div>
