* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans;

}
body {
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-position: center;
}

section {
  display: flex;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.card {
  display: flex;
  border-radius: 20px;
  border-style: none;
  background-color: #FFFFFF;
  justify-content: center;
  align-content: center;
  width: 30vw;
  height: 70vh;
  box-shadow: rgba(20, 12, 46, 0.2) 0px 48px 100px 0px;}

.card-content {
  display: flex;
  flex-direction: column;
}

.kanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;

}

.titleLogin {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgb(80, 80, 80);
}
.subTitle {
  font-size: 12px;
  font-weight: 300;
  color: rgb(80, 80, 80);
  margin-bottom: 30px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(80, 80, 80);

}
input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;

}

button {
  background-color: #fdc886;
  height: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
}

button:hover {
  /*darker*/
  background-color: #F4AF59;
  transition: 0.8s;
  color: #FFFFFF;
}

.alert{
  font-size: 10px;
  margin-bottom: 50px;
}
canvas {
  background: #fdc886;
  width: 10vw;
  height: 7vh;
}
