<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login-page.component.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="myscripts.js"></script>
</head>
<body>
<section class="login">
  <h1 class="mb-3">CMS MOBILE APPLICATION</h1>
  <div class="card">
    <div class="kanan">
      <!--      <div>-->
      <!--        <h1 class="titleLogin">Login</h1>-->
      <!--      </div>-->
      <div class="card-content">
        <label for=>User ID</label>
        <input type="text" name="uname" id="uname" placeholder="Your username here">
        <br>
        <label for=>Password</label>
        <input type="password" name="passwd" id="passwd" placeholder="Your password here">
        <br>
        <label for=>Input Kode</label>
        <canvas #myCanvas class="mb-3"></canvas>
        <input type="password" name="passwd" id="inptKode" placeholder="Input Kode disini" [(ngModel)]="captchaInput">
        <br>
        <button type="submit" id="btnLogin" (click)="verifyCaptcha()"><strong>Login</strong></button>
      </div>
    </div>
  </div>
</section>

<script>

</script>
</body>
</html>
