<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-title">
        <h2>Report Detail Aging Field Collector Yang Belum Dikunjungi</h2>
      </div>
      <div class="card-body">
        <h4 class="mb-3">Parameter Tarik Report</h4>
        <div class="mb-3">
          <div class="row">
            <div class="col-sm-2">
            <label class="">Collector Grup</label>
            </div>
            <div class="col-sm-10">
            <select class="form-select-sm">
              <option label="--select something --"></option>
              <option value="saab">1</option>
              <option value="mercedes">2</option>
              <option value="audi">3</option>
            </select>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-2">
          <label>Tanggal Aging</label>
          </div>
          <div class="col-sm-10">
            <form class="row row-cols-sm-auto">
            <div class="col-12">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                  </svg>
                </button>
              </div>
            </div>
          </form>
          </div>
        </div>

        <div class="card-content">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Kontrak</th>
              <th>Home Address</th>
              <th>Postal Code</th>
              <th>Collector Grup</th>
              <th>Tanggal</th>
              <th>Field</th>
              <th>Kelompok</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>No</td>
              <td>Nama</td>
              <td>Kontrak</td>
              <td>Home Address</td>
              <td>Postal Code</td>
              <td>Collector Grup</td>
              <td>Tanggal</td>
              <td>Field</td>
              <td>Kelompok</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div>
          <button class="btn btn-outline-secondary float-start">Print</button>
          <button class="btn btn-outline-secondary float-end">Export to Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
