<div class="container-fluid mt-2 m-lg-2">
  <div class="row">
    <div class="">
      <div class="card-title">
        <h2>Report Detail Aging Field Collector Yang Belum Dikunjungi</h2>
      </div>
      <div class="card-body">
        <h4 class="mb-3 headr">Parameter Tarik Report</h4>
        <div class="mb-3">
          <div class="row">
            <div class="col-sm-2">
            <label class="headr">Collector Grup</label>
            </div>
            <div class="col-sm-2">
            <select class="form-control headr">
              <option label="--select something --"></option>
              <option value="saab">1</option>
              <option value="mercedes">2</option>
              <option value="audi">3</option>
            </select>
            </div>
          </div>

        </div>

        <div class="row headr">
          <div class="col-sm-2" >
          <label>Tanggal Aging</label>
          </div>
          <div class="col-sm-2" >
            <input type="date" class="form-control" />
          </div>
          <div class="col-sm-2" >
            <button class="btn btn-outline-secondary">
              Search
            </button>
          </div>
        </div>

        <div class="card-content mt-4">
          <table class="table table-striped" id="reportTable">
            <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Kontrak</th>
              <th>Home Address</th>
              <th>Postal Code</th>
              <th>Collector Grup</th>
              <th>Tanggal</th>
              <th>Field</th>
              <th>Kelompok</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of reportList">
              <td>{{item.no}}</td>
              <td>{{item.name}}</td>
              <td>{{item.address}}</td>
              <td>{{item.account}}</td>
              <td>{{item.postalcode}}</td>
              <td>{{item.collectorgroup}}</td>
              <td>{{item.tanggal}}</td>
              <td>{{item.field}}</td>
              <td>{{item.kelompok}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div>
          <button class="btn btn-outline-secondary float-end  m-lg-3" (click)="SavePDF()">Print</button>
          <button class="btn btn-outline-secondary float-end  m-lg-3" (click)="exportexcel()">Export to Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
