<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">User Profile </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">User</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Access Web</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Access Mobile</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
