body {
  overflow-x: hidden;
  font-family: 'Nunito', sans;
}

#sidebar-wrapper {
display: flex;
  flex-direction: column;
}

.sidebar-heading {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px;
  border-color: #F4AF59;
  border-style: solid;
}

.list-group .list-group-flush {
  align-items: center;

}

.sidebar-body {
  height: 70vh;
}

.sidebar-footer {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
}

.list-group-item-action {
  background-color: #F5F2EA;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: none;
}
.list-group-item-action:hover{
  background-color: #F4AF59;
  color: #f5f2ea;
  transition: 0.5s;
}

#sidebar-wrapper {
  background-color: #F5F2EA;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 17rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .show {
    margin-left: 0 !important;
  }

  .hide {
    margin-left: -15rem !important;
  }
}

@media (max-width: 767px) {
  .show {
    margin-left: -15rem !important;
  }

  .hide {
    margin-left: -0 !important;
  }
}
